@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Charm:400,700");
/* ######################### VARIABLES ######################### */
/* ######################### END VARIABLES ######################### */
/* ######################### BASE ######################### */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Lato";
  color: #333; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

img {
  width: 100%; }

h1 {
  font-size: 56px; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 10px; }

/* ######################### END BASE ######################### */
/* ######################### NAVBAR ######################### */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }

.navbar-content-effect {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center; }

.navbar-center {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  opacity: 0;
  animation-name: fadeInDown;
  animation-fill-mode: forwards;
  animation-duration: .8s;
  animation-delay: 4s;
  position: absolute;
  z-index: 5; }
  @media screen and (min-width: 1000px) {
    .navbar-center {
      padding: 0 2em; } }
  .navbar-center a {
    color: #595959;
    font-size: 16px; }
  .navbar-center .navbar-list {
    display: flex;
    justify-content: flex-end; }
    .navbar-center .navbar-list li {
      margin-left: 1rem; }
    .navbar-center .navbar-list__link {
      color: #fff;
      font-size: 14px; }
    .navbar-center .navbar-list__link:hover {
      text-decoration: line-through;
      text-decoration-color: black; }

/* ######################### END NAVBAR ######################### */
/* ######################### HERO ######################### */
.hero {
  min-height: calc(100vh - 60px);
  background: url("https://images.pexels.com/photos/1201624/pexels-photo-1201624.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }

.banner-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.85);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; }

.banner-effect {
  width: 100%; }

.banner-content {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 0 1rem; }
  @media screen and (min-width: 1000px) {
    .banner-content {
      padding: 0 3rem; } }
  .banner-content__email {
    color: #4d4d4d;
    font-family: "Charm"; }

.banner-content__title {
  opacity: 0;
  animation: appear-text 0.0001s linear forwards;
  animation-delay: 2s;
  letter-spacing: 5px; }
  @media screen and (min-width: 1000px) {
    .banner-content__title {
      font-size: 96px; } }

.banner-content__email {
  opacity: 0;
  animation: appear-text 0.0001s linear forwards;
  animation-delay: 2s;
  padding-left: 10px; }
  @media screen and (min-width: 1000px) {
    .banner-content__email {
      font-size: 34px; } }

/* ######################### social-content ######################### */
.social-content {
  width: auto;
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
  position: relative;
  animation-name: appear-relay;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-timing-function: linear;
  overflow: hidden; }

.banner-content-list {
  list-style: none;
  opacity: 0;
  animation: appear-text 0.0001s linear forwards;
  animation-delay: 3s;
  display: flex; }
  .banner-content-list li {
    line-height: 3em;
    width: 50px;
    margin: 0 10px 0 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10; }
    .banner-content-list li a {
      font-size: 1rem;
      color: #cccccc;
      width: 100%;
      background: #1a1a1a;
      text-align: center;
      border-radius: 50%;
      transition: .3s; }
  .banner-content-list li:hover a {
    transform: scale(0.95);
    color: #fff;
    background: black; }

/* ######################### end social-content ######################### */
.year {
  position: absolute;
  bottom: 10px;
  right: 20px;
  animation-name: fadeInLeft;
  animation-duration: 1s;
  animation-delay: 4s;
  opacity: 0;
  animation-fill-mode: forwards;
  border-left: 1px solid #333;
  padding: 0 10px; }
  .year h6 {
    font-family: "Charm"; }

/* ######################### ACITVE LINK EFFECT ######################### */
.banner-content-list__link:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #fff 9%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(8, 8);
  opacity: 0;
  transition: transform .3s, opacity 1s; }

.banner-content-list__link:active:after {
  transform: scale(0, 0);
  opacity: .3;
  transition: 0s; }

/* ######################### END ACITVE LINK EFFECT ######################### */
/* ################## animation ################## */
.social-content:after {
  content: "";
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #000;
  position: absolute;
  animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation-delay: 2.4s; }

.banner-effect:after {
  content: "";
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: black;
  position: absolute;
  animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation-delay: 1.4s; }

.navbar-content-effect:after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: #000;
  position: absolute;
  animation: rev-block-nav 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation-delay: 3.2s; }

@keyframes rev-block {
  0% {
    left: 0%;
    width: 0; }
  50% {
    left: 0%;
    width: 100%; }
  100% {
    left: 100%;
    width: 0%; } }

@keyframes rev-block-nav {
  0% {
    height: 0; }
  50% {
    height: 100%; }
  100% {
    height: 100%; } }

@keyframes appear-text {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes appear-relay {
  0% {
    background: rgba(255, 255, 255, 0.1); }
  100% {
    background: rgba(0, 0, 0, 0.2); } }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

/* ################## end animation ################## */
/* ######################### END HERO ######################### */
/* ######################### SKILLS ######################### */
.skills-section {
  border-top: 1px solid #333;
  width: 100%;
  display: grid;
  justify-content: center;
  background: black;
  color: #666666; }
  .skills-section h3 {
    width: 90vw; }

.skills-title {
  width: 90vw; }
  .skills-title h2 {
    padding: 2rem 0 10px 0;
    letter-spacing: 5px; }

/* ######################### skills-list-icons ######################### */
.skills-center {
  width: 90vw;
  padding: 2rem 0; }
  .skills-center .skills-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 1rem;
    text-align: center;
    /* ########## intro-appear-skills-list effect ############## */
    transform: translateY(20px);
    transition: 0.5s all ease-in-out;
    opacity: 0;
    /* ########## end intro-appear-skills-list effect ############## */ }
    .skills-center .skills-list li {
      width: 100px;
      margin: auto;
      position: relative; }
      .skills-center .skills-list li span {
        font-size: 3.4rem;
        color: white;
        width: 100%;
        background: transparent;
        text-align: center;
        border-radius: 50%;
        color: white;
        transition: .3s; }
      .skills-center .skills-list li span:hover .skill-item__popover {
        opacity: 1; }
      .skills-center .skills-list li .skill-item__popover {
        position: absolute;
        bottom: -10px;
        left: 0;
        font-size: 12px;
        letter-spacing: 1px;
        opacity: 0;
        transition: 0.2s; }
  .skills-center .skills-appear {
    opacity: 1;
    transform: translateY(0px); }

/* ########## intro-appear-skills-list effect ############## */
/* ######### end intro-appear-skills-list effect ############### */
/* ######################### end skills-list-icons ######################### */
/* ######################### workflow-list ######################### */
.workflow-list {
  width: 90vw;
  padding: 2rem 0; }
  .workflow-list li {
    line-height: 2rem; }

/* ######################### end workflow-list ######################### */
/* ######################### color-icons:hover ######################### */
.fa-html5:hover {
  color: #DE4A24; }

.fa-css3-alt:hover {
  color: #1A70B4; }

.fa-js-square:hover {
  color: #F0D81F; }

.fa-vuejs:hover {
  color: #3FB37F; }

.fa-bootstrap:hover {
  color: #69419C; }

.fa-sass:hover {
  color: #C66495; }

.fa-th:hover {
  color: white; }

.fa-npm:hover {
  color: #C53634; }

.fa-github:hover {
  color: white; }

/* ######################### end color icons:hover ######################### */
/* ######################### END SKILLS ######################### */
/* ######################### PORTFOLIO ######################### */
.projects {
  border-top: 1px solid #333;
  display: grid;
  justify-content: center;
  align-items: center;
  color: #666666;
  background: #04080b; }

.projects-title {
  width: 90vw; }
  .projects-title h2 {
    padding: 2rem 0;
    letter-spacing: 5px; }

.projects-center {
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
  padding-bottom: 4rem; }

/* ######################### project-card ######################### */
.project {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 2px;
  position: relative; }
  .project h4 {
    padding: 1rem 2rem;
    color: #fff; }
  .project ul {
    padding-bottom: 1rem; }
  .project ul li {
    padding: 0 3rem;
    line-height: 1.4rem;
    font-size: 14px;
    color: #fff;
    position: relative; }
  .project ul li:after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background: black;
    left: 33px;
    top: calc(50% - 2.5px);
    transform: rotate(50deg);
    border: 1px solid #00ff00; }

.project-img-container {
  position: relative;
  overflow: hidden; }

.project-img-container:hover .project-img-overlay {
  opacity: 1; }

.project-img {
  position: relative; }

.project-img-overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 110px;
  text-align: center; }

/* ######################### end project-card ######################### */
/* ######################### END PORTFOLIO ######################### */
/* ######################### FOOTER ######################### */
/* ######################### FOOTER ######################### */
